.TabelaProdutos table {
  width: 100%;
}

.TabelaProdutos th {
  background-color: #283dae;
  color: #FFF;
}

.TabelaProdutos .Par {
  background-color: #DDD;
}

.TabelaProdutos .Impar {
  background-color: #CCC;
}
